@model IEnumerable<EmployeeCRUDdemo.Models.EmployeeModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink(" ", "AddEmployee",null, new { @class = "btn glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>


                @Html.ActionLink(" ",
                    "EditEmployee", new { id = item.Id }, new { @class = "btn glyphicon glyphicon-pencil" }) |
                @Html.ActionLink(" ", "DeleteEmployee", new { id = item.Id }, new { @class = "btn glyphicon glyphicon-remove" })
            </td>
</tr>
}

</table>
